/MicroNancyPractice/Chapter2/bin
/MicroNancyPractice/Chapter2/obj
/MicroNancyPractice/Chapter4/obj
/MicroNancyPractice/Chapter4/bin
/MicroNancyPractice/Chapter4MicroserviceClient/bin
/MicroNancyPractice/Chapter4MicroserviceClient/obj
